## Run the rTorrent process as a daemon in the background
# mandatory for XMLRPC since rTorrent 0.9.7
system.daemon.set = true

## control via XMLRPC sockets
#Local UNIX socket
network.scgi.open_local = (cat,(cfg.path),rpc.socket)
execute.nothrow = chmod,770,(cat,(cfg.path),rpc.socket)

#INET socket
# NO! BAD! 
# network.scgi.open_port = 0.0.0.0:16891
